body {
    margin: 0;
  }
.packer{
    margin-left: 11vw;
    margin-top: 3vw;
    display: flex;
    width: 80vw;
    height: 70vh;
    background-color: White;
    padding-top: 3vw;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.centerimage img{
    width: 40vw;
    border-radius: 1vw;
}
.centerimage{
    padding-left: 4vw;
    
    flex: 1;
    
}
.datais{
    padding-top: 8vw;
    padding-left: 12vw;
    flex: 1;
}
.maincontentpart{
    display: flex;
    
}