.body{
    height: 100%;
    width: 100%;
}
.filters{
    padding: 10px;
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 20vw;
    margin-top: 10vw;
}
.wifi{
    color: red;
}
.radios{
    display: flex;
}
.x{
    padding: 1vw;
}