*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title{
    font-family: 'Dancing Script';
}
.nav{
    width: 100%;
    height: 4vw;
    color:white;
    background-color: #222f3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav i{
    margin:0 5px;
    color: white;
    padding: 5px, 10px;
    
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
    background-color: #e67e22;
    margin: 0 5px;



}
.addcontent{
    padding : 5px 0px
}

.logo{
    color: #222f3e;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    margin-right : 1vw;
}
.logo2{
    color : #e67e22;
    /* font-family: "Dancing Script"; */
}

.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0vw;
    padding: 0px 70px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 10px 20px;   
}
.heading{
    display: flex;
}
.img3{
    width: 3vw;
}
.backimg {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    
  }
  .img1{
    width: 100%;
    height: 100%;
  }
  /* .backimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(195, 8, 8, 0.16) 75%, #e67d2210),
    url('./hbavk.png');
    background-size: cover;
    background-position: center;
  } */


.h-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome{
    padding: 40px;
    font-family: "Dancing Script" !important;
    font-size: 1.4em !important;
}
.cmp{
    font-weight: 1000 !important;
    color: #ea7611;
    font-family: "Dancing Script" !important;
    font-size: 1.4em !important;
}
.h-text button{
    padding: 0px 10px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    margin: 0px 16px;
    height: 3vw;
    border: 10px solid #e67e22;
    border-radius: 10px;
    letter-spacing: 5px;
}
  
.explore{
    font-size: larger;
}

/* Your existing styles for other elements */

.address {
    text-align: center; /* Adjust as needed */
  }
  
  .addcontent {
    display: inline-block; /* Display the content in a line */
  }
  
  .logo h2 {
    display: inline; /* Ensure the h2 is inline */
    margin-left: 15rem; /* Adjust the spacing between the address and the message */
    font-size: 1.0em; /* Adjust the font size as needed */
    color: #007bff; /* Adjust the color as needed */
  }
  