  /* .split {
    border-top: 2px solid black;
    height: 100%;
    position: fixed;
  }
  
  .left {
    left: 0;
    width: 18%;
    background-color: white;
    border-right: 5px solid black;
  }
  .right {
    right: 0;
    width: 80%;
    background-color: white;
  } */