/* body, html{
    height: 100%;
    width: 100%;
}
.loginform{
    padding-top: 30px;
    position: absolute;
    left: 35vw;
    top: 28vh;
    background-color: rgba(45, 44, 44, 0.763);
    height: 37vh; 
    width: 30vw;
    border: 10px solid black;
    border-radius: 10px;
}
.login{
    color: white;
}
.btn{
    height: 3vw;
    width: 5vw;
    background-color:#4CAF50 ;
    border-radius: 10px;
    font-size: larger;

}
.forgetpass{
    position: relative;
    left: 30%;
}
.loginuser{
    position: absolute;
    left: 42%;
    top: 20%;
}
/* .templogin{
    color: seagreen;
} */ 