/* *{
  margin: 0;
  padding: 0;
}
body, html{
  
  height: 100%;
  width: 100%;
}
div .main{
  width: 400px;
  margin: 5vh auto 0px auto;
  
}
h2{
  text-align: center;
  padding: 1.5vw;
  font-family: sans-serif;
}

div.register{
  height: 670px;
  background-color: rgba(45, 44, 44, 0.763);
  width: 100%;
  font-size: 1.2vw;
  border-radius:10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
  color: #fff;

}
form#register{
  margin:20px;
}
label{
  font-family:sans-serif;
  font-size : 18px;
  font-style: italic;
}
input#name{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
input#submit{
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0);
}
input#email{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
input#password{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
input#username{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.errors{
  color: rgb(214, 3, 3);

}
button.submit{
  background-color: chocolate;
  border: 3px solid burlywood;
  border-radius: 10px;
  height: auto;
}
input#primaryPhone, input#secondaryPhone{
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: #fff;
  box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.login{
  color: rgb(6, 6, 188);
  text-decoration: none;
}
.loginpan{
  display: flex;
  justify-content:space-evenly;
}

.gender{
  padding-left: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
